@media only screen and (max-width: 1100px) {
  .customer-block .section-content-block {
    width: 100%;
    margin: auto;
  }

  .customer-block .box-content {
    font-size: 14px;
    line-height: 22px;
  }

  .slider-desktop {
    display: none;
  }

  .slider-mobile {
    display: block;
  }

  .slider-full-body {
    height: auto;
  }

  .slider-full-body .slider-mobile .showcase-slider-block {
    height: auto;
  }
  .slider-full-body .slider-mobile .slide {
    float: left;
    width: 80%;
  }
  .slider-full-body .slider-mobile .slide2 {
    margin-top: 0;
    position: absolute;
    top: 40%;
    left: 30%;
    width: 46%;
  }
  .slider-full-body .slider-mobile .slide3 {
    margin-top: 0;
    position: absolute;
    top: 66%;
    left: 48%;
    width: 30%;
  }
  .slider-full-body .slider-mobile .carousel-caption-block {
    float: right;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .slider-full-body .slider-mobile .image-corousel {
    float: left;
    width: 100%;
    position: relative;
    margin-top: 100px;
  }
  .slider-full-body .slider-mobile .carousel-caption-block .slider-item {
    height: auto;
    max-width: 440px;
    text-align: center;
    margin: auto;
    padding: 40px;
  }

  .slider-full-body:after {
    display: none;
  }

  .customer-block {
    padding-top: 100px;
  }
}
@media only screen and (max-width: 980px) {
  .section-block.promise-block-mod .box-container-block:nth-child(n+4) {
    box-shadow: -1px 0 0 #eee, 0 0 0 #eee, 0 1px 0 #eee;
  }

  .secondary-footer {
    height: auto;
    overflow: visible;
  }

  .secondary-footer .box-title .box-content {
    display: block;
    text-align: center;
  }

  .secondary-footer .box-title {
    text-align: center;
  }

  .social-block ul {
    margin: auto;
    width: 160px;
  }
}
@media only screen and (max-width: 767px) {
  .nav-pills .nav-item {
    float: left;
    width: 100%;
  }

  .navigation.top-nav-mod .nav {
    align-items: left;
    display: inline-block;
    flex-direction: row;
    height: auto;
    justify-content: center;
  }

  .navigation .nav-link {
    color: #666;
  }

  .navigation.mobile-nav {
    display: block;
    margin: 25px 0 25px 10px;
  }
  .navigation.mobile-nav .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navigation.mobile-nav .dropdown-toggle::after {
    content: inherit;
  }

  .desktop-nav {
    display: none !important;
  }

  .partner-block .partners-listing {
    display: inline-block;
    width: 100%;
  }

  .partner-block .partners-listing .partner-item {
    align-items: center;
    display: inline-block;
    flex-direction: inherit;
    float: left;
    justify-content: normal;
    margin: 30px 0;
    min-width: 0;
    text-align: center;
    width: 100%;
  }

  .primary-footer {
    text-align: center;
  }
  .primary-footer .social-block ul {
    margin: auto;
    width: 160px;
  }

  .primary-footer .social-wrapper {
    float: none;
  }
}
@media only screen and (max-height:700px)
{
	.slider-full-body {
		margin-bottom: 100px;
	}
	.slider-full-body:after {
		display: none;
	}
}
/*# sourceMappingURL=responsive.css.map */
